<a href="https://colab.research.google.com/github/ananyabadkar/movie-ratings-Spark-practice-notebooks-/blob/main/notebooks/%20DataFrame_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark -q

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit, count,sum, avg

In [ ]:
spark = SparkSession.builder.appName("pyspark_tutorial").getOrCreate()

In [ ]:
data = [("john",25,"male",30000),
        ("alice",30,"female",50000),
         ("bob",35,"male",45000),
          ("charlie",40,"male",60000)]

columns = ["name","age","gender","salary"]
df = spark.createDataFrame(data,columns)
df.show()

+-------+---+------+------+
|   name|age|gender|salary|
+-------+---+------+------+
|   john| 25|  male| 30000|
|  alice| 30|female| 50000|
|    bob| 35|  male| 45000|
|charlie| 40|  male| 60000|
+-------+---+------+------+

In [ ]:
print("\selecting columns:")
df.select("name","age").show()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3464921491.py:1: SyntaxWarning: invalid escape sequence '\s'
  print("\selecting columns:")

\selecting columns:
+-------+---+
|   name|age|
+-------+---+
|   john| 25|
|  alice| 30|
|    bob| 35|
|charlie| 40|
+-------+---+

In [ ]:
print("\nfiltering data:")
df.filter(col("age")>30).show()

filtering data:
+-------+---+------+------+
|   name|age|gender|salary|
+-------+---+------+------+
|    bob| 35|  male| 45000|
|charlie| 40|  male| 60000|
+-------+---+------+------+

In [ ]:
print("\ngrouping and aggregating data:")
df.groupBy("gender").agg(count("*").alias("count"),sum("salary").alias("total_salary"),avg("age").alias("avg_age")).show()

grouping and aggregating data:
+------+-----+------------+------------------+
|gender|count|total_salary|           avg_age|
+------+-----+------------+------------------+
|female|    1|       50000|              30.0|
|  male|    3|      135000|33.333333333333336|
+------+-----+------------+------------------+

In [ ]:
print("\nJoining Dataframes")
df1 = df.alias("df1")
df2 = df.alias("df2")
joined_df = df1.join(df2, col("df1.name") == col("df2.name"),"inner").select(col("df1.name"), col("df1.age"), col("df2.salary"))
joined_df.show()

Joining Dataframes
+-------+---+------+
|   name|age|salary|
+-------+---+------+
|  alice| 30| 50000|
|    bob| 35| 45000|
|charlie| 40| 60000|
|   john| 25| 30000|
+-------+---+------+

In [ ]:
print("\nSorting Data:")
df.sort("age",ascending=False).show()

Sorting Data:
+-------+---+------+------+
|   name|age|gender|salary|
+-------+---+------+------+
|charlie| 40|  male| 60000|
|    bob| 35|  male| 45000|
|  alice| 30|female| 50000|
|   john| 25|  male| 30000|
+-------+---+------+------+

In [ ]:
print("\adding and removing columns:")
df = df.withColumn("bonus",col("salary")*0.1)
df.show()

dding and removing columns:
+-------+---+------+------+------+
|   name|age|gender|salary| bonus|
+-------+---+------+------+------+
|   john| 25|  male| 30000|3000.0|
|  alice| 30|female| 50000|5000.0|
|    bob| 35|  male| 45000|4500.0|
|charlie| 40|  male| 60000|6000.0|
+-------+---+------+------+------+

In [ ]:
df = df.drop("bonus")
df.show()

+-------+---+------+------+
|   name|age|gender|salary|
+-------+---+------+------+
|   john| 25|  male| 30000|
|  alice| 30|female| 50000|
|    bob| 35|  male| 45000|
|charlie| 40|  male| 60000|
+-------+---+------+------+