<a href="https://colab.research.google.com/github/ananyabadkar/movie-ratings-Spark-practice-notebooks-/blob/main/notebooks/%20spark_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark -q

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,expr

In [ ]:
#spark session
spark = SparkSession.builder.appName('Spark SQL Demo').getOrCreate()

In [ ]:
#sample data
data = [("alice", 34, "engineering"),
        ("bob", 25, "marketing"),
         ("charlie", 45, "engineering"),
          ("david", 37, "sales")]
column = ["name", "age", "department"]
df = spark.createDataFrame(data, column)

In [ ]:
#create dataframe
df.createOrReplaceTempView("employee")

In [ ]:
#perform SQL queries
query1 = "SELECT name,age FROM employee WHERE department = 'engineering'"
result1 = spark.sql(query1)

In [ ]:
query2 = """ SELECT department ,AVG(age) AS avg_age
            FROM employee
            GROUP BY department
            ORDER BY avg_age DESC"""
result2 = spark.sql(query2)

In [ ]:
#dataframe operation
result3 = df.select("name","department").filter(col("age")> 30)

In [ ]:

result4 = df.withColumn("statu",expr ("CASE WHEN age < 30 THEN 'young' ELSE 'mature' END"))

In [ ]:
print("Result 1:")
result1.show()
print("Result 2:")
result2.show()
print("Result 3:")
result3.show()
print("Result 4:")
result4.show()

Result 1:
+-------+---+
|   name|age|
+-------+---+
|  alice| 34|
|charlie| 45|
+-------+---+

Result 2:
+-----------+-------+
| department|avg_age|
+-----------+-------+
|engineering|   39.5|
|      sales|   37.0|
|  marketing|   25.0|
+-----------+-------+

Result 3:
+-------+-----------+
|   name| department|
+-------+-----------+
|  alice|engineering|
|charlie|engineering|
|  david|      sales|
+-------+-----------+

Result 4:
+-------+---+-----------+------+
|   name|age| department| statu|
+-------+---+-----------+------+
|  alice| 34|engineering|mature|
|    bob| 25|  marketing| young|
|charlie| 45|engineering|mature|
|  david| 37|      sales|mature|
+-------+---+-----------+------+

In [ ]:
spark.stop()